* {
  padding: 0px;
  margin: 0px;
}

.headerContainer {
  width: 100%;
  height: 600px;
  background-image: url("./Images/cappHeader.jpg");
  background-size: 100%, 600px;
  background-repeat: no-repeat;
}
.homePageWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
  gap: 20px;
  padding-top: 50px;
}
.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.buttonWrapper {
  display: flex;
  height: 100px;
  width: 200px;
  align-items: center;
  justify-content: space-around;
}
.menuSelectionWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
}
.menuItem {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 300px;
  gap: 20px;
}
.contactForm {
  width: 500px;
  height: 250px;
}
